*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

.card{
    width: 90%;
    max-width: 450px;
    background: linear-gradient(135deg, #FCCF31, #F55555);
    color: white;
    margin: 100px auto 0;
    border-radius: 22px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align:left;
}

.col img{
    width: 40px;
    margin-right: 12px;
}

.humidity, .wind{
    font-size: 26px;
    margin-top: -12px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
    margin-top: 10px;
    display: none;
}

    /* Media query for mobile view (320px x 667px) */
@media screen and (max-width: 320px) and (max-height: 667px){
    .card {
        width: 95%;
        margin: 50px auto 0;
        padding: 30px 25px;
    }

    .search input {
        padding: 8px 20px;
        height: 50px;
        font-size: 18px;
        margin-right: 10px;
    }

    .search button {
        width: 50px;
        height: 50px;
    }

    .search button img {
        width: 14px;
    }

    .weather-icon {
        width: 140px;
        margin-top: 20px;
    }

    .weather h1 {
        font-size: 60px;
    }

    .weather h2 {
        font-size: 30px;
    }

    .details {
        padding: 0 15px;
        margin-top: 30px;
    }

    .col img {
        width: 30px;
    }

    .humidity, .wind {
        font-size: 20px;
    }

    .error {
        margin-left: 15px;
        font-size: 12px;
        margin-top: 5px;
    }
}
